<!DOCTYPE html>
<html>
  <head>
    <title>My Awesome Website</title>
  </head>
  <body>
    <h1>Welcome to My Awesome Website!</h1>
    <p>Did you like something here? How about helping me buy some game?<br>
      I'll appreciate it!</p>
    <p>Bitcoin Wallet <i class="fa fa-btc"></i> 1Agt7r7aCAeWk5DyXXNyJXAXC4xxysiWjJ<br>
      Ethereum Wallet <i class="fa fa-money"></i> 0x19BD447c94499BdcA154Dc1BeF9FCf1f4c427C16</p>
    
    <div class="donate">
      <p id="ip">Loading IP address...</p>
      <p id="location">Loading location...</p>
    </div>

    <script>
      fetch("https://api.ipdata.co?api-key=008abb2ebdef31a11d5ce7693ce42de5a69a66af1e88699a327820b8")
        .then(response => response.json())
        .then(data => {
          var ip = data.ip;
          var location = data.city + ", " + data.region + ", " + data.country_name;
          document.getElementById("ip").innerHTML = "Your IP address: " + ip;
          document.getElementById("location").innerHTML = "Your location: " + location;
        })
        .catch(error => console.log(error));
    </script>
  </body>
</html>
